<%- include('head') %>

<div class="container">

    <h1 class="title mt-5" style="font-size: 80px">CONTACT</h1>
    <div class="row">
        <div class="col">
            <div style="max-width: 500px" class="m-5">
                <div class="mb-3">
                    <p class="bold" style="font-size: 25px">EMAIL</p>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <p class="bold" style="font-size: 25px">MESSAGE</p>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="button" class="btn btn-primary bold">send</button>
            </div>

        </div>

        <div class="col mobile-invisible">
            <div class="image-container home-image mt-5" style="height: 400px">
                <div class="card bg-dark text-white" style="max-width: 70%;">
                    <img src="/img/bg-2.png" class="card-img" alt="Stony Beach"/>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('foot') %>