<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small class="m-5">Copyright &copy; 2024 quinilo.de</small>
        <small class="m-5">-</small>
        <small class="m-5"><a href="/impressum">Impressum</a> | <a href="/dse">Datenschutzerklärung</a> | <a href="/contact">Kontakt</a></small>
    </div>
</footer>