<%- include('../head') %>

<div class="container">

    <h1 class="title" id="title">quinilo vs kekw</h1>

    <div class="w-50">
        <div class="row">
            <p class="col title" id="ttt-1">
                |
            </p>
            <p class="col title" id="ttt-2">
                |
            </p>
            <p class="col title" id="ttt-3">
                |
            </p>
        </div>

        <div class="row">
            <p class="col title" id="ttt-4">
                |
            </p>
            <p class="col title" id="ttt-5">
                -
            </p>
            <p class="col title" id="ttt-6">
                -
            </p>
        </div>

        <div class="row">
            <p class="col title" id="ttt-7">
                -
            </p>
            <p class="col title" id="ttt-8">
                -
            </p>
            <p class="col title" id="ttt-9">
                -
            </p>
        </div>
    </div>

</div>